<!DOCTYPE html>
<html>
<head>
  <title><%= t('platform') %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body onload=window_onload()>

<% cache "layout" do %>
<div id="header">
  <%= render :partial => "layouts/header" %>
</div>
<div id="footer">
  <%= render :partial => "layouts/footer" %>
</div>
<% end %>
<div id="home-page">
  <%= yield %>
</div>


</body>
</html>
